[user]
	name = Guru
	email = mail@gururaja.in
	signingkey = 58FB3EF9E4EDAEBB
[alias]
	st = status
	ci = commit
	ac = commit -am
	co = checkout
	br = branch
	df = diff
	dfr = diff main FETCH_HEAD
	lg = log --oneline --decorate --all --graph
[advice]
	statusHints = false
[commit]
	gpgsign = true
[init]
	defaultBranch = main