[user]
	name = Guru
	email = guru@duck.com
	signingkey = /data/data/com.termux/files/home/.ssh/id_ed25519.pub
[alias]
	st = status
	ci = commit
	ac = commit -am
	co = checkout
	br = branch
	df = diff
	dfr = diff main origin/main
	lg = log --oneline --decorate --all --graph
[advice]
	statusHints = false
[gpg]
  format = ssh
[commit]
  gpgsign = true
